#Gcal
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

transformers

flask
flask_sqlalchemy

python-dotenv

pydantic

torch
sentencepiece

# Added dependencies to resolve conflicts
scikit-learn
scipy
numpy>=1.22,<1.27

# Additional dependencies that might be needed
pynndescent
numba